

body {
    background-color: black;
}

h1 {
    color: gray;
    background-color: black;
}

#milkyway {
    height: 300px;
    width: 300px;
}

.info {
    font-size: 25px;
    color: white;
}

.facts {
    font-size: 20px;
    color: white;
}
